<?xml version="1.0"?>
<config>
  <modules>
    <Pengo_Class03>
      <version>0.1.0</version>
    </Pengo_Class03>
  </modules>
  <frontend>
        <layout>
		<updates>
			<class03>
			  <file>class03.xml</file>
			</class03>
		</updates>
        </layout>
  </frontend>
  <global>
	<blocks>
	   <catalog>
               <rewrite>
                   <product_list>Pengo_Class03_Product_List</product_list>
               </rewrite>
           </catalog>
	</blocks>
  </global>
</config> 