<?xml version="1.0"?>
<config>
  <modules>
    <Pengo_Class07>
      <version>0.1.1</version>
    </Pengo_Class07>
  </modules>
  <frontend>
    <routers>
      <class07>
        <use>standard</use>
        <args>
          <module>Pengo_Class07</module>
          <frontName>class07</frontName>
        </args>
      </class07>
    </routers>
    <layout>
      <updates>
        <class07>
          <file>class07.xml</file>
        </class07>
      </updates>
    </layout>
  </frontend>
  <global>
    <blocks>
      <class07>
        <class>Pengo_Class07_Block</class>
      </class07>
    </blocks>
    <helpers>
      <class07>
        <class>Pengo_Class07_Helper</class>
      </class07>
    </helpers>
    <models>
      <class07>
        <class>Pengo_Class07_Model</class>
      </class07>
    </models>
    <resources>
      <!--START Customer setup -->
      <class07customer_setup>
        <setup>
          <module>Pengo_Class07</module>
          <class>Mage_Customer_Model_Entity_Setup</class>
        </setup>
        <connection>
          <use>core_setup</use>
        </connection>
      </class07customer_setup>
      <class07customer_write>
        <connection>
          <use>core_write</use>
        </connection>
      </class07customer_write>
      <class07customer_read>
        <connection>
          <use>core_read</use>
        </connection>
      </class07customer_read>
      <!--END Customer setup -->
    </resources>
  </global>
</config> 