<?xml version="1.0"?>
<config>
  <modules>
    <Pengo_Class01>
      <version>0.1.0</version>
    </Pengo_Class01>
  </modules>
  <frontend>
    <routers>
      <class01>
        <use>standard</use>
          <args>
            <module>Pengo_Class01</module>
            <frontName>class01</frontName>
          </args>
      </class01>
    </routers>
		<layout>
		  <updates>
			<class01>
			  <file>class01.xml</file>
			</class01>
		  </updates>
		</layout>
  </frontend>
  <global>
    <helpers>
      <class01>
        <class>Pengo_Class01_Helper</class>
      </class01>
    </helpers>
	<blocks>
	  <class01>
		<class>Pengo_Class01_Block</class>
	  </class01>
	</blocks>
    <models>
      <class01>
        <class>Pengo_Class01_Model</class>
      </class01>
    </models>
  </global>
</config> 